
VITE_BASE_URL=http://localhost:3000
USE_REDIS=false # Set to true to enable Redis caching

DATABASE_URL=
# You can also use Docker Compose to set up a local PostgreSQL database:
# docker-compose up -d

# pnpm run auth:secret
BETTER_AUTH_SECRET=
IMAGE_KIT_PRIVATE_KEY=
IMAGE_KIT_PUBLIC_KEY=
IMAGE_KIT_URL_ENDPOINT=
VITE_IMAGE_KIT_PUBLIC_KEY=
VITE_IMAGE_KIT_URL_ENDPOINT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIS_HOST= # Only needed if you're using Redis
REDIS_PASSWORD= # Only needed if you're using Redis
GEMINI_API_KEY=
MIDTRANS_MERCHANT_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

# AI
GROQ_API_KEY=

# Chat
VITE_ABLY_API_KEY=